*/taget/**
*/**/target
.project
*/.project
*/**/.project
.settings
*/.settings
*/**/.settings
.classpath
*/.classpath
*/**/.classpath
*/.springBeans
*/**/.springBeans
/bin/
*/mylog.log
.idea/
**/.iml
*.iml
*/**/mylog.log
*/*/mylog.log
maas/spring-boot-admin-server/mylog.log
